*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    font-size: 2em;
    background: red; 
    padding: 1em;
    display: grid; */
    /* grid-template-columns: fit-content(100px) | max-content | min-content | minmax(100px); */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

.item{
    background: yellow;
}

.item img{
    width: 200px;
} */


/* Ejercicio del Layout Perfecto */


/* body{
        font-size: 2em;
        display: grid;
        max-height: 100vh;
        grid-gap: 1rem;
        grid-template-areas: 'header header header header'
                             'aside aside main main'
                             'footer footer footer footer';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2rem 1fr 2rem;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.footer{
    grid-area: footer;
}
@media screen and (min-width: 1004px){
    body{
        font-size: 2em;
        display: grid;
        min-height: 100vh;
        grid-gap: 1em;
        grid-template-areas: 'header header header header'
                             'aside main main main'
                             'footer footer footer footer';
        grid-template-rows: 2em 1fr 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .aside{
        grid-area: aside;
    }
    .footer{
        grid-area: footer;
    }
}



.item{
    background: yellow;
}  */

/* .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2px;
    grid-auto-rows: 100px;
    grid-auto-flow: row dense;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery img:nth-child(1){
    grid-column: span 3;
    grid-row: span 3;
}

.gallery img:nth-child(3n){
    grid-column: 3 / span 4;
    grid-row: 2 /span 2; */
    /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */
    /* grid-area: span 3 / span 3;
}

.gallery img:nth-child(5n){
    grid-area: span 1 / span 4;
}

.gallery img:nth-child(7n){
    grid-area: span 2 / span 1;
} */
