/* 2.2-Propiedad flex-grow */

 body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*

.container{
    display: flex;
    height: 200px; */
    /* background: yellow; */
    /* justify-content: center;
    align-items: center;
    font-size: 3em;
    background: yellow;
}

.container::before, 
.container::after{
    content: '';
    display: block;
    height: 5px; */
    /* width: 300px; */
    /* flex: 1;
    background: linear-gradient(to left, red, white);
    margin-right: .5em;
}

.container::after{
    background: linear-gradient(to right, red, white);
    margin-right: 0;
    margin-left: .5em;
} */

/* Numero del 1 al 5 */

.container{
    display: flex;
    font-size: 3em;
    background: yellow;
    height: 300px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.item{
    background: pink;
    /* flex: 1 1 0; */
    /* flex: 1; */
    height: 100px;
    /* flex: none; */
    /* flex-grow: 1; */
    /* flex: flex-grow flex-shrink flex-basis : initial | auto | none | n  = cualquier numero positivo */
    /* align-self: auto | flex-start | flex-end | center | baseline | stretch */
    /* flex-basis: 0; */
    /* flex grow indica el factor de crecimiento
    El navegador divide el espacio
    disponible entre la cantidad total de 
    factores de crecimiento y se los asigna a los items
    */
    /* flex-grow: 1; */
    /* width: 300px; */
    /* flex-shrink: 3; */
    /* flex-basis: 0; */
    /* width: 200px; */
}
.item:first-child{
    order: -2;
}

.item:nth-child(3){
    /* flex-grow:1; */
    /* flex-shrink: 1; */
    /* flex-shrink: es para que se encoja un elemento */
    /* align-self: flex-end; */
    order: -1;
    /* align-self: auto | flex-start | center | baseline | stretch */
}

.disccount{
    border: 2px solid red;
    order: -1;
}

.item:nth-child(even){
    background: cyan;
}

/* 
Cantidad total de flex-grow: 
1
1
4
1
1
= 8

    Calcular factor de crecimiento: 
    espacio disponible / 8

    Suponiendo que el espacio 
    disponible sea: 160 / 8 = 20

    Teniendo el factor de crecimiento el naegador 
    lo multiplica por el valor de flex-grow en cada caso y lo suma 

    1*20 = 20 
    1*20 = 20
    4*20 = 80 
    1*20 = 20 
    1*20 = 20

    Ese valor se suma al tamaño 
    original. Suponiendo que sus tamaños 
    originales sean : 
    
    20 + 20 = 40 
    10 + 20 = 30
    100 + 80 = 180
    30 + 20 = 50
    15 + 20 = 35

*/

/* .page{
    display: flex;
    height: 3em;
    background: yellow;
}

.aside{
    width: 200px;
    background: red;
}

.main{
    background: green;
    flex-grow: 1;
} */